
/* MAX REZOLUTION: 1140px */

@media(max-width: 1140px){
    .menu__link,
    .bike__link{
        transition: all 0s;
    }
    .menu__link{
        background-color: #fff;
        color: #131313;
    }
    .bike__link:hover{
        background-color: #131313;
        color: #fff;
    }
    .form__bike-img{
        width: 500px;
    }
    .form__bike{
        top: 45px;
    }
}

/* MAX REZOLUTION: 1110px */

@media(max-width: 1110px){
    .bike__inner{
        order: -1;
        flex-wrap: wrap;
    }
    .bike__text{
        max-width: 100%;
    }
    .bike{
        padding: 0;
    }
    .bike__link{
        margin-top: 30px;
    }
    .bike__column{
        margin-bottom: 30px;
    }
    .bike__column-slider{
        min-width: 100%;
        margin-left: 0; 
    }
    .info__img{
        display: none;
    }
    .info__list{
        flex-basis: 100%;
    }
    .info__item-text{
        max-width: 100%;
    }
    .info{
        padding-top: 50px;
    }
    .characteristics{
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .slider__img{
        object-fit: cover;
        height: 400px;
    }
    .price{
        margin-bottom: 50px;
    }
}

/* MAX REZOLUTION: 991px */

@media(max-width: 991px){
    .menu{
        margin-right: 0;
    }
    .characteristics__inner{
        flex-wrap: wrap;
    }
    .characteristics__img{
        order: -1;
        width: 100%;
        margin-bottom: 30px; 
    }
    .characteristics__items{
        flex-basis: 100%;
        margin-right: 0;
    }
    .characteristics__name{
        flex-basis: 50%;
    }
    .characteristics__descpription{
        flex-basis: 50%;
    }
    .form__label-box{
        margin-bottom: 300px;
    }
    .form__bike{
        top: auto;
        bottom: 85px;
        left: 0;
        right: auto;
    }
    .form__bike-img{
        width: 430px;
    }
    .form__bike-price{
        right: -20%;
        transform: translateX(100%);
        left: auto;
        top: 0;
    }
}

/* MAX REZOLUTION: 780px */

@media(max-width: 780px){
    .form__bike-price{
        right: 0;
        top: -55px;
        transform: translateX(50%);
    }
}

/* MAX REZOLUTION: 670px */

@media(max-width: 670px){
    .bike__title{
        font-size: 44px;
        line-height: 57px;
        margin: 30px 0 5px;
    }
    .bike__subtitle{
        margin: 0 0 30px;
        font-size: 22px;
        line-height: 29px;
    }
    .bike__list{
        flex-wrap: wrap;
    }
    .bike__list-item{
        width: 50%;
        margin-bottom: 10px;
    }
}

/* MAX REZOLUTION: 640px */

@media(max-width: 640px){
    .header__inner{
        display: block;
        text-align: center;
    }
    .menu{
        margin-top: 50px;
    }
    .menu__list{
        justify-content: space-evenly;
    }
    .menu__item + .menu__item{
        padding-left: 0;
    }
    .menu__link{
        padding: 25px 20px;
    }
    .info__item + .info__item{
        padding-top: 25px;
    }
    .slider__img{
        object-fit: cover;
        height: 250px;
    }
    .slider__item{
        padding-left: 10px;
    }
}

/* MAX REZOLUTION: 580px */

@media(max-width: 580px){
    .form__bike-price{
        right: auto;
        top: 35px;
        transform: translateX(0%);
        left: 0;
        display: inline-block;
        font-size: 18px;
        border: none;
        width: 100%;
        border-radius: 0;
        height: auto;
    }
    .form__bike-price span{
        background-color: #131313;
        color: #fff;
        display: inline-block;
        padding: 3px;
    }
    .form__bike-price::after{
        display: none;
    }
    .footer__inner{
        display: block;
        height: auto;
        padding: 15px 0;
        text-align: center;
    }
    .footer__social{
        padding: 15px 0;
    }
    .footer__contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* MAX REZOLUTION: 460px */

@media(max-width: 460px){
    .menu__link{
        justify-content: space-between;
    }
    .menu__link{
        padding: 25px 0px;
    }
    .bike__link,
    .form__btn{
        padding: 15px;
        letter-spacing: .9em;
    }
    .slider{
        display: none;
    }
    .form__bike{
        bottom: 50px; 
        right: 0;
    }
    .form__bike-img{
        width: 270px;
    }
    .form__label-box{
        margin-bottom: 200px;
    }
    .price__inner{
        text-align: center;
    }
    .form__text{
        min-width: 100%;
    }
    .form__label-box{
        justify-content: center;
    }
    }

    /* MAX REZOLUTION: 350px */

@media(max-width: 350px){
    .menu{
        margin-top: 30px;
    }
    .menu__link{
        font-size: 12px;
    }
    } 